GROQ_API_KEY=your API
GROQ_MODEL=llama-3.3-70b-versatile
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD="password"
MYSQL_DATABASE=ecommerce_db
APP_HOST=127.0.0.1
APP_PORT=8000
APP_DEBUG=true
